body {
    background-color: #A0434B;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom;
}

table {
    text-align: center;
    width: 100%;
}

td {
    border: 1px solid white;
    background-color: #FCF4F7;
    border-radius: 8px;
    padding: 5px 10px;
    font-size: 20px;
}

tr:nth-child(odd)>td {
    background-color: #A0434B;
    color: #FCF4F7;
}

th {
    font-family: 'Rochester', cursive;
    font-size: 28px;
    color: #FCF4F7;
}

button {
    width: 245px;
    height: 50px;
    padding: 10px;
    text-align: center;
    background-color: #FCF4F7;
    border: 1px solid #FCF4F7;
    color: #A0434B;
    font-family: 'Rochester', cursive;
    font-size: 28px;
    border-radius: 8px;
    -webkit-transition-duration: 0.8s;
    transition-duration: 0.8s;
    margin: 2px;
}

button:hover {
    background-color: #A0434B;
    color: #FCF4F7;
}

h1 {
    text-align: center;
    font-family: 'Rochester', cursive;
    font-size: 65px;
    color: #3A2216;
    margin: -15px;
}

div {
    text-align: center;
    margin: 30px;
}

.header {
    text-align: center;
}