body {
    background-image: url("back.png");
    background-color: #FAEDFF;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom;
}

table {
    text-align: center;
    width: 100%;
}

td {
    border: 1px solid #f0f0f0;
    background-color: #EFE6E5;
    border-radius: 8px;
    padding: 5px 10px;
    font-size: 20px;
}

tr:nth-child(odd)>td {
    background-color: #9A2C44;
    color: white;
}

th {
    font-family: 'Rochester', cursive;
    font-size: 28px;
    color: #9A2C44;
}

button {
    width: 245px;
    height: 50px;
    padding: 10px;
    text-align: center;
    background-color: #EFE6E5;
    border: 1px solid #EFE6E5;
    color: #9A2C44;
    font-family: 'Rochester', cursive;
    font-size: 28px;
    border-radius: 8px;
    -webkit-transition-duration: 0.8s;
    transition-duration: 0.8s;
    margin: 2px;
}

button:hover {
    background-color: #9A2C44;
    color: #EFE6E5;
}

.opacity {
    opacity: 0.9;
}

h1 {
    text-align: center;
    font-family: 'Rochester', cursive;
    font-size: 65px;
    color: #3A2216;
    margin: -15px;
}

div {
    text-align: center;
    margin: 30px;
}